-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "first_name" TEXT NOT NULL,
    "last_name" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'FRONT_DESK',
    "department" TEXT,
    "phone" TEXT,
    "avatarUrl" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "last_login_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "patients" (
    "id" TEXT NOT NULL,
    "uhid" TEXT NOT NULL DEFAULT gen_random_uuid(),
    "salutation" TEXT NOT NULL DEFAULT '',
    "firstName" TEXT NOT NULL DEFAULT '',
    "middleName" TEXT,
    "lastName" TEXT NOT NULL DEFAULT '',
    "age" INTEGER NOT NULL DEFAULT 0,
    "dob" TEXT,
    "gender" TEXT NOT NULL DEFAULT '',
    "bloodGroup" TEXT,
    "maritalStatus" TEXT,
    "mobileNo" TEXT NOT NULL DEFAULT '',
    "alternateMobile" TEXT,
    "emailAddress" TEXT,
    "residentialAddress" TEXT,
    "city" TEXT,
    "state" TEXT,
    "country" TEXT NOT NULL DEFAULT 'India',
    "pincode" TEXT,
    "emergencyContactName" TEXT,
    "emergencyRelationship" TEXT,
    "emergencyPhoneNumber" TEXT,
    "patientCategory" TEXT,
    "careType" TEXT,
    "assignedDepartmentServices" TEXT,
    "assignedDepartment" TEXT,
    "service" TEXT NOT NULL DEFAULT '',
    "registeredOn" TEXT NOT NULL DEFAULT '',
    "lastVisit" TEXT NOT NULL DEFAULT '',
    "status" TEXT NOT NULL DEFAULT 'Active',
    "initials" TEXT NOT NULL DEFAULT '',
    "inquiryId" TEXT,
    "appointmentId" TEXT,
    "vip" BOOLEAN NOT NULL DEFAULT false,
    "updatedBy" TEXT,
    "updatedAt" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "patients_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "patient_insurance" (
    "id" TEXT NOT NULL,
    "patientUhid" TEXT NOT NULL,
    "firstName" TEXT,
    "lastName" TEXT,
    "insuranceProvider" TEXT,
    "policyNumber" TEXT,
    "tpaNetwork" TEXT,
    "insuranceContact" TEXT,
    "insuranceNotes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "patient_insurance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "patient_corporate" (
    "id" TEXT NOT NULL,
    "patientUhid" TEXT NOT NULL,
    "firstName" TEXT,
    "lastName" TEXT,
    "companyName" TEXT,
    "corporateId" TEXT,
    "employeeId" TEXT,
    "companyContact" TEXT,
    "corporateAddress" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "patient_corporate_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PatientDocument" (
    "id" TEXT NOT NULL,
    "uhid" TEXT NOT NULL DEFAULT '',
    "name" TEXT NOT NULL DEFAULT '',
    "type" TEXT NOT NULL DEFAULT '',
    "uploadedBy" TEXT NOT NULL DEFAULT '',
    "uploadedOn" TEXT NOT NULL DEFAULT '',
    "verified" BOOLEAN NOT NULL DEFAULT false,
    "fileUrl" TEXT,
    "updatedBy" TEXT,
    "updatedAt" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PatientDocument_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Inquiry" (
    "id" TEXT NOT NULL,
    "firstName" TEXT NOT NULL DEFAULT '',
    "lastName" TEXT NOT NULL DEFAULT '',
    "phone" TEXT NOT NULL DEFAULT '',
    "email" TEXT,
    "service" TEXT NOT NULL DEFAULT '',
    "source" TEXT NOT NULL DEFAULT '',
    "priority" TEXT NOT NULL DEFAULT 'Routine',
    "status" TEXT NOT NULL DEFAULT 'New',
    "followUp" TEXT NOT NULL DEFAULT '',
    "notes" TEXT,
    "appointmentId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Inquiry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Doctor" (
    "id" TEXT NOT NULL,
    "firstName" TEXT NOT NULL,
    "lastName" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "specialization" TEXT[],
    "qualification" TEXT,
    "experienceYears" INTEGER,
    "phone" TEXT,
    "email" TEXT,
    "consultationFee" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "followUpFee" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "bio" TEXT,
    "avatarUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Doctor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Appointment" (
    "id" TEXT NOT NULL,
    "firstName" TEXT NOT NULL DEFAULT '',
    "lastName" TEXT NOT NULL DEFAULT '',
    "phone" TEXT NOT NULL DEFAULT '',
    "email" TEXT,
    "doctor" TEXT NOT NULL DEFAULT '',
    "service" TEXT NOT NULL DEFAULT '',
    "date" TEXT NOT NULL DEFAULT '',
    "time" TEXT NOT NULL DEFAULT '',
    "type" TEXT NOT NULL DEFAULT '',
    "notes" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Scheduled',
    "inquiryId" TEXT,
    "uhid" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Appointment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Consultation" (
    "id" TEXT NOT NULL,
    "uhid" TEXT NOT NULL DEFAULT '',
    "doctor" TEXT NOT NULL DEFAULT '',
    "service" TEXT NOT NULL DEFAULT '',
    "date" TEXT NOT NULL DEFAULT '',
    "chiefComplaint" TEXT NOT NULL DEFAULT '',
    "diagnosis" TEXT NOT NULL DEFAULT '',
    "treatmentNotes" TEXT,
    "prescription" TEXT,
    "followUp" TEXT,
    "files" TEXT[],
    "updatedBy" TEXT,
    "updatedAt" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Consultation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Invoice" (
    "id" TEXT NOT NULL,
    "uhid" TEXT,
    "patient" TEXT NOT NULL DEFAULT '',
    "service" TEXT NOT NULL DEFAULT '',
    "date" TEXT NOT NULL DEFAULT '',
    "subtotal" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "tax" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "discount" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "total" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "paid" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "balance" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'Draft',
    "paymentMode" TEXT,
    "transactionId" TEXT,
    "remarks" TEXT,
    "updatedBy" TEXT,
    "updatedAt" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Invoice_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NonConformance" (
    "id" TEXT NOT NULL,
    "uhid" TEXT NOT NULL DEFAULT '',
    "patient" TEXT NOT NULL DEFAULT '',
    "relatedDocument" TEXT NOT NULL DEFAULT '',
    "department" TEXT NOT NULL DEFAULT '',
    "severity" TEXT NOT NULL DEFAULT 'Minor',
    "status" TEXT NOT NULL DEFAULT 'Open',
    "dueDate" TEXT NOT NULL DEFAULT '',
    "assignedTo" TEXT NOT NULL DEFAULT '',
    "description" TEXT,
    "rootCause" TEXT,
    "title" TEXT,
    "updatedBy" TEXT,
    "updatedAt" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "NonConformance_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "service_masters" (
    "id" TEXT NOT NULL,
    "department" TEXT NOT NULL DEFAULT 'DOCTOR_CONSULTATION',
    "name" TEXT NOT NULL DEFAULT 'Unknown Service',
    "price" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "taxRate" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "service_masters_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "test_masters" (
    "id" TEXT NOT NULL,
    "itemType" TEXT NOT NULL DEFAULT 'TEST',
    "category" TEXT NOT NULL DEFAULT 'Uncategorized',
    "subcategory" TEXT,
    "serviceType" TEXT,
    "department" TEXT NOT NULL DEFAULT 'DOCTOR_CONSULTATION',
    "name" TEXT NOT NULL DEFAULT 'Unknown Test',
    "price" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "taxRate" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "sourceUrl" TEXT NOT NULL DEFAULT 'https://eshealth.in/',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "test_masters_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "package_masters" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL DEFAULT 'Unknown Package',
    "description" TEXT,
    "price" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "taxRate" DECIMAL(65,30) NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "sourceUrl" TEXT NOT NULL DEFAULT 'https://eshealthcarecentre.in/packages',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "package_masters_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PackageItem" (
    "id" TEXT NOT NULL,
    "packageId" TEXT NOT NULL,
    "testId" TEXT,
    "itemName" TEXT NOT NULL,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PackageItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "feedbacks" (
    "id" TEXT NOT NULL,
    "uhid" TEXT NOT NULL,
    "patientName" TEXT NOT NULL,
    "service" TEXT NOT NULL,
    "heardAbout" TEXT,
    "referenceBy" TEXT,
    "serviceAvailed" TEXT,
    "overallRating" INTEGER NOT NULL,
    "staffAppreciated" TEXT,
    "positiveComments" TEXT,
    "negativeComments" TEXT,
    "agreeToUsage" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "feedbacks_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "feedback_ratings" (
    "id" TEXT NOT NULL,
    "feedbackId" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "question" TEXT NOT NULL,
    "rating" INTEGER NOT NULL,

    CONSTRAINT "feedback_ratings_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "patients_uhid_key" ON "patients"("uhid");

-- CreateIndex
CREATE INDEX "patients_uhid_idx" ON "patients"("uhid");

-- CreateIndex
CREATE INDEX "patients_mobileNo_idx" ON "patients"("mobileNo");

-- CreateIndex
CREATE UNIQUE INDEX "patient_insurance_patientUhid_key" ON "patient_insurance"("patientUhid");

-- CreateIndex
CREATE UNIQUE INDEX "patient_corporate_patientUhid_key" ON "patient_corporate"("patientUhid");

-- CreateIndex
CREATE UNIQUE INDEX "service_masters_department_key" ON "service_masters"("department");

-- CreateIndex
CREATE UNIQUE INDEX "test_masters_name_category_key" ON "test_masters"("name", "category");

-- CreateIndex
CREATE UNIQUE INDEX "package_masters_name_key" ON "package_masters"("name");

-- CreateIndex
CREATE INDEX "PackageItem_packageId_idx" ON "PackageItem"("packageId");

-- AddForeignKey
ALTER TABLE "patient_insurance" ADD CONSTRAINT "patient_insurance_patientUhid_fkey" FOREIGN KEY ("patientUhid") REFERENCES "patients"("uhid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "patient_corporate" ADD CONSTRAINT "patient_corporate_patientUhid_fkey" FOREIGN KEY ("patientUhid") REFERENCES "patients"("uhid") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PackageItem" ADD CONSTRAINT "PackageItem_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES "package_masters"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PackageItem" ADD CONSTRAINT "PackageItem_testId_fkey" FOREIGN KEY ("testId") REFERENCES "test_masters"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "feedback_ratings" ADD CONSTRAINT "feedback_ratings_feedbackId_fkey" FOREIGN KEY ("feedbackId") REFERENCES "feedbacks"("id") ON DELETE CASCADE ON UPDATE CASCADE;

