ALTER TABLE users ADD COLUMN IF NOT EXISTS department TEXT; ALTER TABLE users ADD COLUMN IF NOT EXISTS phone TEXT; ALTER TABLE users ADD COLUMN IF NOT EXISTS "avatarUrl" TEXT; ALTER TABLE test_masters ADD COLUMN IF NOT EXISTS "itemType" TEXT DEFAULT 'TEST';
